*{
    margin:0px;
    padding:0px;
}
body{
    background: linear-gradient(to right, #ada996, #c8dad9, #b4d2f2, #B2DFDB);
    font-family: fangsong;

}

#loading-page{
    height:100%;
    width:100%;
    position:fixed;
    z-index:999999;
    background:white;
}

#loader_gif{
    height:250px;
    width:350px;
    margin:auto;
    margin-top:210px;
}

.mainbox{
    font-size:27px;
    cursor:pointer;
    transition:all .4s;
}
.sidemenu {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 0px;
    background-color: #222;
    z-index: 1;
    padding-top: 100px;
    overflow-x: hidden;
    transition:all .3s;
}
.sidemenu a {
    padding: 8px 8px 8px 64px;
    text-decoration: none;
    font-size: 20px;
    color: #999;
    display: block;
}
.sidemenu a:hover{
    color:white;
}
.sidemenu .closebtn {
    position: absolute;
    top: 0px;
    right: 25px;
    font-size: 36px;
    margin-left: 32px;
}
.title {
    background: rgb(224, 242, 241) none repeat scroll 0% 0%;
    margin-bottom: 15px;
}
.proPic {
    width: 107px;
    margin: auto;
    border: 3px solid white;
}

h4.proName {
    text-align: center;
    margin-top: 10px;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    background: linear-gradient(to right, #ada996, #c8dad938, #8ca2aab3, #547da438);
}
.editPro a {
    background-color: rgb(255,87,34);
    border: 2px solid white;
    padding: 5px 65px;
    color: white;
    text-decoration: none;
}
.editPro button a:hover {
    cursor: pointer;
}

.footerSection {
    background: darkgrey;
    padding: 2px 0px;
}
.footerContain {
    margin-top: 6px;
    font-style: italic;
}
.footerClass {
    background: darkgray;
    padding: 1px 0px;
    font-style: italic;
    margin-top: 28px !important;
}